<div [ngClass]="showName==true ? 'loaders' : 'myclass' ">
    <iframe src="https://giphy.com/embed/3U5rmUswe2y5mJ5lim" width="280" height="200" frameBorder="0"
        class="giphy-embed" allowFullScreen class="l1"></iframe>
    <p><a href="https://giphy.com/stickers/idea-lamp-bulb-3U5rmUswe2y5mJ5lim"></a></p>
</div>


<div class="rect1"></div>

<div class="opel">
    <p class="p1" style="font-size: 30px;">ALL ABOUT OPEL </p>
    <div class="border3">
        <img src="assets/images/led-lamp.png" alt="" class="side_img">
        <p class="pphead"> OPEL LED'S</p>
        <p class="para">
            OPEL LED offers a wide range of international quality LED lighting solutions, for varied applications
            providing
            effective and energy-efficient lighting in any environment from residential and retail, to commercial and
            industrial applications. With the LED Lighting market set to reach 85% in India, the OPEL Group realised
            that
            this was the cornerstone that the company was to build upon. Now, OPEL LED is a market leader and provides
            numerous lighting solutions. OPEL LED currently holds over 40 patents for lighting solutions. As the future
            unfolds, OPEL LED will play a pivotal role in shifting lighting usage in India
        </p>
    </div>

    <div class="border4">
        <img src="assets/images/led-light.png" alt="" class="side_img">
        <p class="pphead" style="    width: 51%;
        left: 28%;"> OPEL TUBELIGHT'S</p>
        <p class="para">
            OPEL LED offers a wide range of international quality LED TUBELIGHT lighting solutions, for varied
            applications
            providing
            effective and energy-efficient lighting in any environment from residential and retail, to commercial and
            industrial applications. With the LED Lighting market set to reach 85% in India, the OPEL Group realised
            that
            this was the cornerstone that the company was to build upon. Now, OPEL LED is a market leader and provides
            numerous lighting solutions. OPEL LED currently holds over 40 patents for lighting solutions. As the future
            unfolds, OPEL LED will play a pivotal role in shifting lighting usage in India
        </p>
    </div>




</div>

<div class="customer">
    <p class="p1">OUR HAPPY CUSTOMER</p>
    <ul>
        <p class="p2">
            "Great taste" -Rohan mehra
        </p>
        <p class="p2">"Staff was very helpful" -Sanaya Singh</p>
        <p class="p2">"Great Service" -Aman sohra</p>
        <p class="p2">"Fabulous Taste" -Divya Nanda</p>
        <p class="p2">"It’s a great experience. The ambiance is very welcoming and charming." -Siya Chauhan</p>
        <p class="p2">"This place is great! Atmosphere is chill and cool but the staff is also really friendly."
            -Abhisekh
            Das
        </p>
        <p class="p2">"I have to say, I enjoyed every single bite of the meal in Aditya's kitchen "-Saniya Sharma</p>
        <p class="p2">"Menu is extensive and seasonal to a particularly high standard." -Rohit Verma</p>
        <p class="p2">"This is my absolute favorite restaurant in India." -Virat Kohli</p>
    </ul>
</div>

<div class="head">
    <h1 class="hmain">MEET OUR TEAM</h1>

    <div class="hceo">
        <h1 class="nilesh">Nilesh Randive</h1>

        <h1 class="hname">HEAD
        </h1>


        <nav class="header__nav">
            <ul class="header__ul">
                <li class="header__li">
                    <a target="_blank" class="header__a">
                        <div class="n_r">
                            <img src="assets/images/nilesh.jpg" alt="" class="imgg">
                            <h1 class="hname1" style="top: -108px;"></h1>


                        </div>

                    </a>
                </li>
            </ul>
        </nav>
        <p class="quote">“Keep your face always toward the sunshine — and shadows will fall behind
            you.”</p>
    </div>

    <div class="hceo1">
        <h1 class="hname"
            style="width: 20%; font-size: 15px; border-bottom: none; height: 5%; text-align: end ; left: 2px; top: 10px;">
            TEAM
            MEMBERS
        </h1>
        <div class="border">
            <div class="n_r1">


                <p class="name">Vinay Chawla</p>
                <p class="quotes"> “ It’s not about ideas. It’s about making ideas happen. ”
                </p>
                <img src="assets/images/man (1).png" alt="" class="img1">
            </div>

        </div>
        <div class="border1">
            <div class="n_r1">
                <p class="name">Divya Khemra</p>
                <p class="quotes">“You never achieve real success unless you like what you are doing.”</p>
                <img src="assets/images/female.png" alt="" class="img1">
            </div>
        </div>
        <div class="border" style=" top: 14%;">
            <div class="n_r1">
                <p class="name">Shreya Amre</p>
                <p class="quotes">“The heart and soul of a company is creativity and innovation.”</p>
                <img src="assets/images/female.png" alt="" class="img1">
            </div>
        </div>
        <div class="border2">
            <div class="n_r1">
                <p class="name">Dev Kumar</p>
                <p class="quotes">“I never dreamed about success — I worked for it.”
                </p>
                <img src="assets/images/man (1).png" alt="" class="img1">

            </div>

        </div>

    </div>
</div>















<div class="footer">
    <p class="f1">Sitemap | Privacy Policy | Warranty </p>
    <p class="f2">Copyright &copy; 2023 OPEL LED’s India Pvt. Ltd. ALL right reserved </p>
    <p class="f3">All trademarks used here are property of their respective owners.
        Any use of third party trademarks id for identifivation purposes only does not imply
        endorsement
        .</p>
    <p class="f4">Manufacturer / Importer </p>
    <p class="f5">Opel Led India Pvt. Ltd.</p>
    <p class="f6">202 , Near Umang college , Panjra, Nagpur-440001 (India)</p>
    <p class="f7">Follow Us On </p>
    <img src="assets/images/instagram.png" alt="instagram" class="f8">
    <img src="assets/images/twitter.png" alt="instagram" class="f9">
    <img src="assets/images/facebook.png" alt="instagram" class="f10">
    <img src="assets/images/linkedin.png" alt="instagram" class="f11">
</div>
