<div class="rect">
    <div [ngClass]="showName==true ? 'loaders' : 'myclass' ">
        <iframe src="https://giphy.com/embed/3U5rmUswe2y5mJ5lim" width="280" height="200" frameBorder="0"
            allowFullScreen class="l1"></iframe>
        <p>
            <a href="https://giphy.com/stickers/idea-lamp-bulb-3U5rmUswe2y5mJ5lim"></a>
        </p>

    </div>




    <p class="off">
        Sale Upto</p>
    <p class="off1">
        50 %
    </p>


    <div class="rectangle1" fill="#fff" x="0" y="0">
        <div class="container">

            <div class="email">


                <div class="box">
                    <span></span>
                    <div class="content">
                        <h2 style="left: 22%; top: 2%;">Office Details</h2>
                        <p style="position: relative; top: 34%;"> Address : Opel Led'S Pvt. Ltd.</p>
                        <p style="position: relative; top: 30%;">202 , Near Umang college , Panjra, Nagpur-440001
                            (India)</p>
                        <p style="position: relative; top: 26%;">Call_Us : 8669847777 </p>

                        <!-- <a href="#">Read More</a> -->
                    </div>
                </div>

            </div>

        </div>
    </div>



    <div class="rectangle2" fill="#fff" x="0" y="0"></div>
    <div class="rectangle3" fill="#fff" x="0" y="0">
        <div class="img"> <img src="assets/images/light1.png" alt="img2" class="img2">
            <img src="assets/images/light2.png" alt="img1" class="img1">
        </div>
    </div>

</div>
<div class="p1" fill="#fff" x="0" y="0">
    <p class="p1_1">OUR PRODUCT</p>
</div>

<!-- <div class="rectangle5"></div> -->


<div class="p2">
    <div class="card">
        <div class="product1">
            <div class="card middle">

                <div class="front">

                    <img src="assets/images/light3.png" alt="light" class="pimg1">


                    <p class="p_h1"> LED TUBELIGHT</p>
                    <div class="p_border"></div>
                    <p class="p_p">LED tube is a type of LED lamp used in fluorescent tube luminaires with G5 and
                        G13
                        bases
                        to
                        replace traditional fluorescent tubes. As compared to fluorescent tubes, the most important
                        advantages
                        of
                        LED tubes are energy efficiency and long service life.</p>

                </div>

                <div class="back middle">
                    <div class="back-content middle">


                        <div class="content">
                            <div class="container">
                                <div class="box">
                                    <span></span>
                                </div>
                            </div>


                            <p class="pb_h1"> LED TUBELIGHT</p>


                            <div class="pb_border"></div>


                            <div class="p_main" style="text-align: center;">

                                <p class="p_b">Brand : OPEL LEDS</p>

                                <p class="p_b">Light Type : LED-TUBE</p>

                                <p class="p_b">Price : Rs 250 - Rs 350</p>

                                <p class="p_b"> Special Feature : Energy Efficient</p>

                                <p class="p_b"> Wattage : 25 / 35</p>

                                <p class="p_b">Voltage : 250 / 350</p>

                                <p class="p_b">Color : White / Blue / Green</p>

                                <p class="p_b">Room Type : Indoor /Outdoor</p>

                            </div>
                            <div class="sm">
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                                <a href="#"><i class="fab fa-medium"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="product2">
        <div class="card middle">
            <div class="front">
                <img src="assets/images/light7.png" alt="light" class="pimg1">
                <p class="p_h2"> LED LIGHT</p>
                <div class="p_border"></div>
                <p class="p_p"> An LED consists of a semiconductor diode packaged in a clear epoxy or
                    silicone gel.
                    The
                    diode
                    contains two slightly different materials: a P-type semiconductor and an N-type
                    semiconductor.
                </p>

            </div>




            <div class="back middle">
                <div class="back-content middle">


                    <div class="content">
                        <div class="container">
                            <div class="box">
                                <span></span>
                            </div>
                        </div>


                        <p class="pb_h11"> LED LIGHT</p>


                        <div class="pb_border"></div>


                        <div class="p_main" style="text-align: center; right: 150px;">

                            <p class="p_b1">Brand : OPEL LEDS</p>

                            <p class="p_b1">Light Type : LED-BULB</p>

                            <p class="p_b1">Price : Rs 100 - Rs 220</p>

                            <p class="p_b1"> Special Feature : Ecofriendly</p>

                            <p class="p_b1"> Wattage : 9W / 12W / 15W</p>

                            <p class="p_b1">Voltage : 150 / 180 / 210</p>

                            <p class="p_b1">Color : White / Cool-White</p>

                            <p class="p_b1">Room Type : Indoor /Outdoor</p>

                        </div>
                        <div class="sm">
                            <a href="#"><i class="fab fa-twitter"></i></a>
                            <a href="#"><i class="fab fa-facebook"></i></a>
                            <a href="#"><i class="fab fa-youtube"></i></a>
                            <a href="#"><i class="fab fa-medium"></i></a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <div class="about">
        <img src="assets/images/light5.png" alt="">
        <div class="about1">
            <div>
                <p class="text">OPEL LED</p>
                <p class="text_1">BE BOLD | BE BRIGHT</p>


                <p class="text_2">As a pioneer in LED revolution in India, we at Opel were always keen to create a
                    channel exclusive
                    for
                    our LED products. This wish is now a reality. We have created a dedicated spaces where our
                    entire
                    LED
                    range including popular bestsellers, specialty products and recent innovations will be displayed
                    in
                    all
                    glory. Let us join together to experience the future of light.</p>

            </div>
        </div>
    </div>




    <div class="news">
        <img src="assets/images/news.png" alt="" class="news_img">
        <div class="news11">
            <div class="news1">
                <p class="head">LATEST NEWS</p>
                <p class="head1" style="top: 20px ; position: relative;">OPEL LED'S </p>
                <P class="head1" style="top: 10px ; position: relative;">" The New Emeging Lighting company in the town
                    "
                </P>
                <p class="head2">This year has been unique for the lighting industry. With restrictions, challenges and
                    the
                    lack of live interaction Mr.Randive's seems to have made it for Opel Led's to follow new emerging
                    trends
                    and developments. That is why Mr.Randive decided to Launch Opel led's which is an emerging lighting
                    comapny in industry . The newest developments, innovations, and ways of lighting that we see finally
                    coming true beacuase of Opel Led's .
                    With the newest Led super saving innovations on the market, Opel Led's Pvt. Ltd. expect that Led
                    Tubelight and Bulbs finally have the potential to go big, and transition from niche to mainstream.
                    The
                    main barriers so far have been the high price point, lack of flexibility in product design, and loss
                    of
                    efficiency throughout the Led's range. Today, Opel Led's no longer come with a premium price tag as
                    performance and efficiency are greatly improved.
                    Opel Led's enable never-before-seen possibilities thanks to their flexibility and adaptability. Ever
                    changing lighting concepts are always optimally lit, and lighting designs can be adjusted ‘on the
                    go’
                    even without detailed upfront planning to guarantee perfect lighting whenever and wherever needed.
                    Combine this with a total cost that is no longer astronomical, and the mainstream potential is
                    unmistakable.</p>

            </div>

        </div>
    </div>

    <div class="cmp_details">
        <div class="division"></div>
        <div class="bcall">
            <img src="assets/images/send1.png" alt="" class="send">
            <p class="content_cmp">Write to us</p>
            <p class="content_cmp">Service - service@opel.co.in</p>
            <p class="content_cmp">Support - support@opel.co.in</p>

        </div>
        <div class="bsend">
            <img src="assets/images/call1.png" alt="" class="call">

            <p class="content_cmp">Customer Care</p>
            <p class="content_cmp">Phone: 1800-157-4545</p>
            <p class="content_cmp">Timings: 10:00 a.m till 7:00 p.m IST (Mon-Sat)</p>
        </div>
    </div>















    <div class="footer">
        <p class="f1">Sitemap | Privacy Policy | Warranty </p>
        <p class="f2">Copyright &copy; 2023 OPEL LED’s India Pvt. Ltd. ALL right reserved </p>
        <p class="f3">All trademarks used here are property of their respective owners.
            Any use of third party trademarks id for identifivation purposes only does not imply
            endorsement
            .</p>
        <p class="f4">Manufacturer / Importer </p>
        <p class="f5">Opel Led India Pvt. Ltd.</p>
        <p class="f6">202 , Near Umang college , Panjra, Nagpur-440001 (India)</p>
        <p class="f7">Follow Us On </p>
        <img src="assets/images/instagram.png" alt="instagram" class="f8">
        <img src="assets/images/twitter.png" alt="instagram" class="f9">
        <img src="assets/images/facebook.png" alt="instagram" class="f10">
        <img src="assets/images/linkedin.png" alt="instagram" class="f11">
    </div>
</div>